body{
    background-image: url(../images/image.png);
}
.header ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
}
.header{
    background-color: rgb(202, 202, 185);
    margin-top: 7px;
    margin-bottom: 30px;
    text-align: center;
    width: auto;
    height: 35px;
}
body{
    background-color: rgb(189, 189, 153);
}
.second:hover{
    color: rgb(86, 88, 211);
}
footer{
    text-align: justify;
    margin-top: 10px;
    margin-bottom: 15px;
    background-color: bisque;
}
.second{
    text-align: center;
}
h1{
    text-align: center;
    font-size: larger;
}