.header ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
}
.header{
    background: fixed;
    background-color: #7b878b;
    text-align: center;
    padding: 1px;
}
footer{
    text-align: right;
    margin-top: 10px;
    margin-bottom: 15px;
    background-color: bisque;
}

body{
    background-image: url(../images/image.png);
}

img{
    width: 100%;
}